.hero {
  position: relative;
  font-family: var(--primary-font);
}

.hero__back {
  height: 100vh;
  max-height: 80vh;

  opacity: 0.5;

  background-size: cover;
  background-position: center;
}

.hero__img {
  width: 100%;

  height: 100%;
}

.hero__front {
  display: flex;

  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 0.9) 50%,
    rgba(18, 18, 18, 0.75) 70%,
    rgba(18, 18, 18, 0) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin: 0 auto;
}

.hero__front__dialog {
  display: flex;
  flex-direction: column;

  margin: var(--u-2) var(--u-1) 0 var(--u-1);

  max-width: var(--u-56);
}

.hero__title {
  color: var(--c-skyblue);

  margin: 0 0 var(--u-1) 0;

  font-size: var(--u-2p3);
  font-weight: 700;

  text-decoration: none;

  /* -webkit-line-clamp: 3; */
}

.hero__title:hover {
  text-decoration: underline;
  text-decoration-color: var(--c-skyblue);
}

.hero__desc {
  color: var(--c-white);

  font-size: var(--u-1p5);
  font-weight: 600;

  padding: 0;

  margin: 0 0 var(--u-1) 0;

  max-width: var(--u-56);
}

.hero__media {
  display: flex;
  flex-wrap: wrap;
}

.hero .scrollable-list {
  margin-top: var(--u-7);
}

.hero__btn--play,
.hero__btn--save,
.hero__btn--playlist {
  display: inline-flex;
  align-items: center;

  background-color: var(--l-yellow);

  border: 0;
  border-radius: var(--u-p3);

  margin: var(--u-1);
  margin-left: 0rem;

  padding: var(--u-1p5) var(--u-2);

  cursor: pointer;
}

.hero__btn--play {
  color: var(--c-black);
  text-decoration: none;
}

.hero__btn--save,
.hero__btn--playlist {
  display: inline-flex;
  background-color: transparent;
  color: var(--l-yellow);
  align-items: center;
}

.hero__btn--playlist {
  text-decoration: none;
}

.hero__btn--text {
  font-size: var(--u-1p5);
  margin-left: var(--u-1);
}

.hero-icon {
  font-size: var(--u-1p3);
}

@media screen and (min-width: 568px) {
  .hero__title {
    font-size: var(--u-2p9);
  }

  .hero__front {
    align-items: center;
  }

  .hero__front__dialog {
    margin: 0 var(--u-1p5);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: var(--u-3p3);

    -webkit-line-clamp: 3;
  }

  .hero__desc {
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 991px) {
  .hero__title {
    font-size: var(--u-3p7);
  }

  .hero__front__dialog {
    margin: 0 var(--u-2);
  }
}
