.toast {
  margin: var(--u-p5);

  display: grid;

  grid-template-columns: auto 90% auto;

  align-items: center;

  background-color: var(--c-red);

  font-family: var(--primary-font);

  z-index: var(--z-index-six);

  padding: var(--u-1);

  color: var(--c-white);

  border-radius: var(--u-p2);
}

.toast__success {
  background-color: var(--i-green);
}

.toast__error {
  background-color: var(--c-red);
}

.toast__content {
  margin: 0 0.5rem;
}

.toast__msg {
  text-align: justify;
  line-height: 1.5;

  font-weight: 600;
}

.toast__icon {
  color: var(--c-white);
  font-size: 1.5rem;
}

.toast__btn--close {
  background-color: transparent;

  border: 0;

  padding: 0;

  font-size: var(--u-1p5);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
