.saves {
  color: var(--c-white);

  font-family: var(--primary-font);

  padding: var(--u-1);
}

.saves__title {
  display: flex;
  align-items: center;

  color: var(--c-white);
}

.saves__icon {
  font-size: var(--u-2);
}

.saves__title__text {
  margin-left: var(--u-p5);
}

.saves__main {
  display: grid;

  grid-template-columns: repeat(auto-fill, var(--u-18));
  gap: var(--u-1);

  justify-content: center;
}

@media screen and (min-width: 568px) {
  .playlist__main {
    gap: var(--u-2);
  }
}
