.home__loader {
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-list {
  display: flex;
  flex-direction: column;

  font-family: var(--primary-font);

  margin-top: var(--u-1);
}

.scrollable-list__title {
  color: var(--st-color);
  padding-left: var(--u-1);

  margin: var(--u-1) 0 0 0;

  width: fit-content;
}

.scrollable-list__videos {
  display: flex;

  flex-wrap: nowrap;

  overflow-x: auto;

  padding: 0 var(--u-1);
}

.scrollable-list__videos::-webkit-scrollbar {
  width: 5px;

  height: 5px;
}

.scrollable-list__videos::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.scrollable-list__videos::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 10px;
}
