:root {
  --c-skyblue: #00aeff;
  --v-icon-size: 1.7rem;
}

/*  common-utility */

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* video component utility */
.video-icon {
  font-size: var(--v-icon-size);
}

/* video-container */

.video {
  border: 1px solid var(--border-color);
  font-family: var(--primary-font);
  position: relative;
  max-width: 100vw;
  margin: 2rem 0;
  height: 45rem;
}

.v-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.video__bg--img {
  display: grid;
  max-width: 100vw;
}

.i-wrapper {
  position: relative;
}

.video__content {
  max-width: 48rem;

  max-height: 100%;
  padding: 6rem 1.5rem;

  position: absolute;
  top: 0;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 0) 50%
  );
}

.v-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 0.3) 50%
  );
}

.video__title {
  background-color: transparent;

  border: 0;

  cursor: pointer;

  font-size: 2rem;
  font-weight: 900;
  color: var(--c-skyblue);
  text-align: left;

  padding: 0;

  -webkit-line-clamp: 2;

  margin-bottom: 1rem;
}

.video__snippet {
  color: var(--c-white);
  font-size: 1.2rem;
  font-weight: 500;

  -webkit-line-clamp: 3;

  margin-top: 0;
}

.video__btn--play,
.video__btn--save,
.video__btn--playlist {
  display: inline-flex;
  align-items: center;

  background-color: var(--l-yellow);

  border: 0;
  border-radius: 0.3rem;

  margin: 1rem;
  margin-left: 0rem;

  padding: 1.5rem 2rem;

  cursor: pointer;
}

.video__btn--save,
.video__btn--playlist {
  display: inline-flex;
  background-color: transparent;
  color: var(--l-yellow);
  align-items: center;
}

.video__btn--text {
  font-size: 1.5rem;
  margin-left: var(--c-margin);
}

/* video img responsive */

@media screen and (min-width: 568px) {
  .video__bg--img {
    background-size: 100vw;
  }

  .video {
    height: 31rem;
  }
}

@media screen and (min-width: 991px) {
  .i-wrapper {
    justify-self: end;
    max-width: 80vw;
    height: 31rem;
  }
}
