.cp-list--v {
  display: flex;
  flex-direction: column;

  padding: var(--u-1);

  border-top: 1px solid var(--m-border-color);
}

.cp__label--name {
  color: var(--c-white);

  margin-bottom: var(--u-p3);

  font-size: var(--u-p9);
}

.cp__input--name {
  border: 0;
  border-bottom: 1px solid var(--c-white);

  background-color: transparent;

  /* margin-bottom: var(--u-1); */

  font-size: var(--u-1);

  color: var(--c-white);

  outline-width: 0;
  line-height: 0.5rem;
  padding: 0 0 0.5rem 0;
}

.cp__btn--create {
  align-self: flex-end;

  max-width: 40%;

  /* background-color: transparent; */
  background-color: var(--l-yellow);
  padding: var(--u-p7) var(--u-1);
  color: var(--m-black);

  border: 0;

  outline-width: 0;

  font-size: var(--u-1);
  font-weight: 600;

  margin-top: var(--u-p5);

  cursor: pointer;
}

.cp__label--error {
  color: var(--c-red);

  margin-top: var(--u-p5);
  margin-bottom: var(--u-p5);

  font-size: var(--u-p9);
}
