.video {
  font-family: var(--primary-font);
}

.v-list {
  display: flex;
  flex-direction: column;
  padding: 0 var(--u-1);

  border-bottom: 1px solid var(--border-color);

  position: relative;
}

.video__header {
  display: flex;

  justify-content: space-between;
}

.video__title {
  color: var(--c-white);

  font-size: var(--u-1p3);
}

.video__actions {
  display: flex;
  justify-content: flex-end;
}

.video__btn--playlist,
.video__btn--save {
  display: inline-flex;
  align-items: center;

  background-color: transparent;

  border: 0;

  padding: var(--u-p5) var(--u-1);

  font-size: var(--u-1p1);
  color: var(--l-yellow);

  margin: var(--u-1);
  margin-right: 0;

  cursor: pointer;

  border: 0;
  outline-color: var(--l-yellow);
  border: 1px solid var(--l-yellow);

  height: fit-content;
}

.video__btn--playlist {
  text-decoration: none;
}

.video-icon {
  color: var(--l-yellow);
  font-size: var(--u-1p2);
}

.video__description {
  color: var(--st-color);

  margin: 0;
}

.video__channel {
  display: flex;

  font-family: var(--primary-font);
  color: var(--c-white);

  margin: var(--u-1) 0;

  text-decoration: none;
}

.video__channel__img--wrapper {
  width: var(--u-4);
  height: var(--u-4);

  border-radius: 50%;
}

.video__channel__img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.video__channel__text {
  margin-left: var(--u-1);
  margin-top: var(--u-1);

  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .video__channel {
    margin: var(--u-1p5) 0;
  }
}

@media screen and (min-width: 1150px) {
  .video__wrapper {
    max-width: 90vw;

    margin: 0 auto;

    margin-top: var(--u-1);
  }

  .v-list {
    padding: 0;
  }

  .video__channel {
    margin: var(--u-2) 0;
  }
}
